#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [3]:
ttest_machine = pd.read_csv('ttest_machine.txt', sep=' ')

In [5]:
ttest_machine.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [6]:
# H0 = the avg time that the new machine takes to pack is equal to the avg time that the old machine does. --REJECTED
# H1 = NOT

st.ttest_ind(ttest_machine['New_machine'], ttest_machine['Old_machine'], equal_var=False)

# negative statistic means \mu_New_machine-\mu_Old_machine < 0   ---->  \mu_New_machine < \mu_Old_machine 

# So, the mean old machine must be taking taking more time than the new machine

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [7]:
# I do this just for the sake of it: (we have positive statistics in this case)

st.ttest_ind(ttest_machine['Old_machine'], ttest_machine['New_machine'], equal_var=False)

Ttest_indResult(statistic=3.397230706117603, pvalue=0.0032422494663179747)

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [11]:
# Your code here:

pokemon = pd.read_csv('pokemon.txt', sep=',')

In [14]:
pokemon.shape

(800, 13)

In [15]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [24]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    # Your code here
    
    st.ttest_ind
    
    for i in features:
        results[i] = st.ttest_ind(s1[i], s2[i], equal_var = False).pvalue
        
    return results

In [22]:
s1 = pokemon[pokemon['Legendary']==False].sample(50)
s1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
599,539,Sawk,Fighting,NaN,465,75,125,75,30,75,85,5,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
530,478,Froslass,Ice,Ghost,480,70,80,70,80,70,110,4,False
756,686,Inkay,Dark,Psychic,288,53,54,53,37,46,45,6,False
118,110,Weezing,Poison,NaN,490,65,90,120,85,70,60,1,False

In [21]:
s2 = pokemon[pokemon['Legendary']==True].sample(50)
s2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
702,641,TornadusIncarnate Forme,Flying,NaN,580,79,115,70,125,80,111,5,True
705,642,ThundurusTherian Forme,Electric,Flying,580,79,105,70,145,80,101,5,True
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
709,645,LandorusTherian Forme,Ground,Flying,600,89,145,90,105,80,91,5,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True

In [25]:
t_test_features(s1,s2)

{'HP': 1.8499243637987496e-08,
 'Attack': 2.680871606015339e-08,
 'Defense': 5.146222696889905e-06,
 'Sp. Atk': 8.34491768797534e-12,
 'Sp. Def': 2.013002266349255e-09,
 'Speed': 5.20477780846036e-10,
 'Total': 5.248443423096483e-21}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:

# h0: legendary pokemons = non-legendary pokemons
# h1: ARE NOT EQUAL

# p values are very low, so Ho is REJECTED.

# Based on these features, there is a difference between the legends and non-legends

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [ ]:
# h0: Gen1 pokemons = Gen2 pokemons 
# h1: ARE NOT EQUAL

In [26]:
# Your code here
pokemon1 = pokemon[pokemon['Generation']==1]
pokemon2 = pokemon[pokemon['Generation']==2]

In [27]:
t_test_features(pokemon1,pokemon2)

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104394,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

#### What conclusions can you make?

In [ ]:
# Your comment here

# There is not enough evidence to reject Ho for most features. However,

# p value for speed is very low. In terms of speed, we can reject that Gen1 pokemons = Gen2 pokemons

#### Compare pokemons who have single type vs those having two types.

In [31]:
# Your code here
combo = pokemon[pokemon['Type 2'].notnull()]
single = pokemon[pokemon['Type 2'].isnull()]

#combo = pokemon[~pokemon['Type 2'].isna()]
#single = pokemon[pokemon['Type 2'].isna()]

In [32]:
t_test_features(single,combo)

{'HP': 0.11314389855379421,
 'Attack': 0.00014932578145948305,
 'Defense': 2.7978540411514693e-08,
 'Sp. Atk': 0.00013876216585667842,
 'Sp. Def': 0.00010730610934512779,
 'Speed': 0.02421703281819094,
 'Total': 1.1157056505229961e-07}

#### What conclusions can you make?

In [ ]:
# Your comment here

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [33]:
# we are comparing the same test

# Ho: Attack and Defense are similar --REJECTED
# H1: They are NOT

st.ttest_rel(pokemon['Attack'], pokemon['Defense']) 

# p value is low. We reject Ho. So, there is difference between attack and defence

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [34]:
# Ho: Sp Attack and Sp Defense are similar
# H1: They are NOT

st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def']) 

# p value is NOT low. We cannot reject that Sp Attack and Sp Defense are similar

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

#### What conclusions can you make?

In [ ]:
# Your comment here

# I commented above.